<body>
  <div class="box">
    <section>
      <div class="set">
        <div><img src="../../assets/maple1.png" alt="leaves"></div>
        <div><img src="../../assets/maple2.png" alt="leaves"></div>
        <div><img src="../../assets/maple3.png" alt="leaves"></div>
        <div><img src="../../assets/maple4.png" alt="leaves"></div>
        <div><img src="../../assets/maple1.png" alt="leaves"></div>
        <div><img src="../../assets/maple2.png" alt="leaves"></div>
        <div><img src="../../assets/maple3.png" alt="leaves"></div>
        <div><img src="../../assets/maple4.png" alt="leaves"></div>
      </div>
    </section>
    <div class="card">
      <div class="front"><img src="../../assets/1637006593032.jpg" alt="Me"></div>
      <div class="back">
        <div class="details">
          <h2>Arghya Dasgupta<br><span>DSE @ Infosys</span></h2>
          <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100008597521061" rel="noopener noreferrer" target="_blank"
              aria-label="Facebook"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/ADasgupta23" rel="noopener noreferrer" target="_blank" aria-label="Twitter"><i
                class="fa-brands fa-twitter" aria-hidden="true"></i></a>
            <a href="www.linkedin.com/in/arghya-dasgupta" rel="noopener noreferrer" target="_blank"
              aria-label="Linked-in"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/dg_arghya/" rel="noopener noreferrer" target="_blank"
              aria-label="Instagram"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
            <a href="https://github.com/Arghya-create" rel="noopener noreferrer" target="_blank" aria-label="Git-Hub"><i
                class="fa-brands fa-github" aria-hidden="true"></i></a>
          </div>
          <div class="cv">
            <a href="#" (mouseenter)="change()" (mouseleave)="change()">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Full CV
            </a>
            <div class="shadow delay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
