<body>
  <section>
    <div class="set">
      <div><img src="../../assets/maple1.png" style="width: 150px;" alt="leaves"></div>
      <div><img src="../../assets/maple2.png" style="width: 150px;" alt="leaves"></div>
      <div><img src="../../assets/maple3.png" style="width: 150px;" alt="leaves"></div>
      <div><img src="../../assets/maple4.png" style="width: 150px;" alt="leaves"></div>
      <div><img src="../../assets/maple1.png" style="width: 150px;" alt="leaves"></div>
      <div><img src="../../assets/maple2.png" style="width: 150px;" alt="leaves"></div>
      <div><img src="../../assets/maple3.png" style="width: 150px;" alt="leaves"></div>
      <div><img src="../../assets/maple4.png" style="width: 150px;" alt="leaves"></div>
    </div>
  </section>
  <div class="card">
    <div class="front"><img src="../../assets/1637006593032.jpg" style="border-radius: 5px;" alt="Me"></div>
    <div class="back">
      <div class="details">
        <h2>Arghya Dasgupta<br><span>DSE @ Infosys</span></h2>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=100008597521061"><i class="fa-brands fa-facebook"
              aria-hidden="true"></i></a>
          <a href="https://twitter.com/ADasgupta23"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
          <a href="www.linkedin.com/in/arghya-dasgupta"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/dg_arghya/"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
          <a href="https://github.com/Arghya-create"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</body>
